.hh-logo-white-400 {
    width: 32%;
    min-width: 300px;
    margin-top: 18rem;
}

.hhCircleBox {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
.hhCircle{
    width: 41%;
    min-width: 500px;
    -webkit-animation: 20s rotate linear infinite;
    animation: 20s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.4;
};

.card {
    background-color: #ffffff40;
    border:1px solid #ffffff50;
    box-shadow: 0px 3px 20px #10506B50;
}
